<div class="container">
  <div class="right">
    <virtual-scroll windowScroll
                    #scroll="virtualScroll"
                    [items]="list"
                    [itemRender]="itemTemplate"
                    [placeholderRender]="placeholderTemplate"
                    visiblePages="3"
                    placeholderPages="3"
                    itemHeight="80"
                    itemGap="10"
                    observeChanges
                    [dynamicHeight]="dynamicHeight">
      <ng-template #placeholderTemplate>
        <div class="item placeholder">
          <div class="wrapper">加载中 ...</div>
        </div>
      </ng-template>
      <ng-template #itemTemplate let-item let-index="index">
        <div class="item">
          <div class="wrapper" [style.height.px]="80">
            <a class="nav" (click)="scroll.scrollToItem(item,{offsetTop:8})">{{item.name}}</a>
            <a class="link" *ngIf="!item.open" (click)="item.open = true">点我展开</a>
            <a class="link" *ngIf="item.open" (click)="item.open = false">点我收缩</a>
          </div>
          <div class="result" *ngIf="item.open" [style.height.px]="item.resultHeight" @resultAnim>
            我是动态内容，高度随机
          </div>
        </div>
      </ng-template>
    </virtual-scroll>
  </div>
</div>